{% extends "schema_base.html" %}

{% block title %} Schemas {% endblock %}

{% block content %}
<div class="container">
    <div class="columns">
        <div class="column">
            <form class="" method="POST" action="">

                <div class="columns">
                    <div class="column">
                        <p>{% if schema %}{{ schema.name }}{% else %}New schema{% endif %}</p>
                    </div>
                    <div class="column">
                        <div class="field is-grouped is-grouped-right">
                            <p class="control">
                                <button type="submit" class="button is-link">Submit</button>
                            </p>
                        </div>
                    </div>
                </div>

                {% csrf_token %}
                <div class="columns">
                    <div class="column is-half">
                        <div class="field">
                            <label class="label">{{ schema_form.name.label }}</label>
                            <div class="control">
                                {{ schema_form.name }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        <p>Schema columns</p>

                        {{ column_formset.management_form }}
                        {% for col in column_formset %}
                            {% for hidden in col.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                        <div class="columns schema_column">
                            <div class="column is-one-quarter">
                                <div class="field">
                                    <label class="label">{{ col.order.label }}</label>
                                  <p class="control is-expanded">
                                    {{ col.order }}
                                  </p>
                                </div>
                            </div>
                            <div class="column is-one-quarter">
                                <div class="field">
                                <label class="label">{{ col.name.label }}</label>
                              <p class="control is-expanded">
                                {{ col.name }}
                              </p>
                            </div>
                            </div>
                            <div class="column is-one-quarter">
                                <div class="field">
                                <label class="label">{{ col.data_type.label }}</label>
                                <div class="select">{{ col.data_type }}</div>
                            </div>
                            </div>
                            <div class="column is-one-quarter">
                                <a class="button is-danger is-inverted del_column">Delete</a>
                            </div>
                        </div>
                        {% endfor %}

                        <input type="button" value="Add column" id="add_column" class="button is-info">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<script>
    function cloneColumn(selector) {
        var totalId = '#id_form-TOTAL_FORMS';
        var total = $(totalId).val();

        var newColumn = $(selector).clone(true);
        newColumn.find(':input').each(function() {
            var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('');
        });

        total++;
        $(totalId).val(total);
        $(selector).after(newColumn);
    }

    function deleteColumn(btn) {
        var confirmed =  confirm('Are you sure?');
        if (!confirmed) return false;

        var totalId = '#id_form-TOTAL_FORMS';
        var total = $(totalId).val();

        if (total > 1){
            btn.closest('div.schema_column').remove();
            var columns = $('div.schema_column');
            $(totalId).val(columns.length);
        }
        return false;
    }

    $('#add_column').click(function() {
        cloneColumn('div.schema_column:last');
    });
    $('.del_column').click(function() {
        deleteColumn($(this));
    });
</script>
{% endblock javascripts %}